<h2>Edit Link</h2>
<%= form_for(@link) do |f| %>
  <fieldset>
  <legend>Body</legend>
  <%= f.text_field :body, placeholder: @link.body %>
  </fieldset>


  <fieldset>
  <legend>Board</legend>
  <%= f.select :board_id, Board.all.map { |board| [board.name, board.id] } %>
  </fieldset>

  <p><%= f.submit "Publish Link" %></p>

<% end %>
