@import "bourbon";
@import "settings";
@import "neat";

$main-link-color: #76B295;
$main-hover-color: #4A9470;
$main-background-color: #69A88A;
$small-username-color: #8ACAC4;
$small-board-name-color: #72280F;
$greenits-color: #1B6F12;
$reddits-color: #8A1C21;
$header-color: #0A4F2E;
$text-body-color: #133857;
$footer-links-color: #0A4F2E;
$border-box-sizing: true !default;


header {
  animation: pulse 10s infinite;
  background: #0A4F2E;

  .nav-user {

    a {
    margin: 0 auto;
    padding-right: 15px;
    color: $main-link-color;
    text-decoration: none;
    display: inline;
    float: right;

      &:hover {
        color: darken($main-hover-color, 10%);
        text-decoration: none;
        @include transition(all 0.8s ease-in-out);
      }
    }
  }
}
@keyframes pulse {
  0%, 100% {
    background-color: #0A4F2E;
  }
  50% {
    background-color: lighten(#0A4F2E, 10%) ;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
body {
  margin: 0 auto;
}
.logo {
  color: $main-link-color;
  font-family: Helvetica Neue;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  font-size: 42px;
  margin-left: 5px;

  &:hover {
    color: darken($main-hover-color, 10%);
    text-decoration: none;
    @include transition(all 0.8s ease-in-out);
  }
}

nav {
  font-family: Helvetica Neue;
}

.nav-link-separators {
  padding-left: 8px;
  padding-bottom: 10px;
  color: #4A9470;
}

.nav-links {
  color: $main-link-color;
  text-decoration: none;

  &:hover {
    color: darken($main-hover-color, 10%);
    text-decoration: none;
    @include transition(all 0.8s ease-in-out);
  }
}

.main-page {
  background: white;
  margin: 0;
  min-height: 1000px;
  font-family: Helvetica Neue;

  h2 {
    margin-top: 0;
    padding-left: 5px;
    padding-top: 10px;
    color: $header-color;
    font-size: 35px;
  }

  h3 {
    padding-left: 5px;
    padding-top: 10px;
    color: $header-color;
    font-size: 28px;
  }

  p {
    margin: 0 auto;
  }
}

.main-link {
  color: #A06F31;
  text-decoration: none;
  font-size: 25px;

  &:hover {
    color: #F1C997;
    text-decoration: none;
    @include transition(all 0.8s ease-in-out);
  }
}

.footer {
    background: #0A4F2E;
    margin: 0 auto;
    min-height: 50px;
}

.greenits, .greenits > a {
  color: $greenits-color;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    color: lighten( $greenits-color, 15% );
    @include transition(all 0.8s ease-in-out);
  }
}

.reddits, .reddits > a {
  color: $reddits-color;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    color: lighten( $reddits-color, 20%);
    @include transition(all 0.8s ease-in-out);
  }
}
.small-username {
  color: $small-username-color;
  text-decoration: none;

  &:hover{
    color: $small-board-name-color;
    text-decoration: none;
    @include transition(all 0.8s ease-in-out);
  }
}

.small-board-name {
  color: $small-board-name-color;
  text-decoration: none;

  &:hover{
    color: $small-username-color;
    text-decoration: none;
    @include transition(all 0.8s ease-in-out);
  }
}

.comment-body {
    color: $text-body-color;
    margin: 5px;
    text-decoration: none;

    &:hover {
      color: lighten($text-body-color, 15%);
      @include transition(all 0.8s ease-in-out);
    }
  }

.submit-button {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 12px;
  color: $text-body-color;
  border: 1px solid $main-background-color;
  width: 120px;
  height: 30px;
  background-color: white;

  &:hover {
    background-color: $main-background-color;
    @include transition(all 0.3s ease-in-out);
  }

  &:active {
    border: none;
  }
}

.comment-field {
    width: 225px;
    height: 135px;
    margin-left: 10px;
    background: $main-background-color;
    color: white;
  }

.label {
  color: $text-body-color;
  margin-left: 5px;
  font-weight: bold;
}

.drop-down {
  background-color: $footer-links-color;
  margin-left: 5px;
  font-size: 20px;
}

.new-board-area {
  margin-left: 10px;
  background: $main-background-color;
  color: white;
  border: 1px solid $text-body-color;
}

@import 'links';
@import 'boards';

