$main-link-color: #76B295;
$main-hover-color: #4A9470;
$main-background-color: #69A88A;
$small-username-color: #C7785D;
$small-board-name-color: #72280F;
$greenits-color: #1B6F12;
$reddits-color: #8A1C21;

header {
  p {
    margin: 0 auto;
    padding-right: 15px;
    color: $main-link-color;
    display: inline;
    float: right;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
body {
  margin: 0 auto;
}
.logo {
  color: $main-link-color;
  font-family: Helvetica Neue;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;

  &:hover {
    color: $main-hover-color;
    text-decoration: none;
  }
}

nav {
  font-family: Helvetica Neue;
}

.nav-link-separators {
  padding-left: 8px;
  padding-bottom: 10px;
  color: #4A9470;
}

.nav-links {
  color: $main-link-color;
  text-decoration: none;

  &:hover {
    color: $main-hover-color;
    text-decoration: none;
  }
}

.main {
  background: #0A4F2E;
}

.main-page {
  background: $main-background-color;
  margin: 0;
  min-height: 1000px;
  font-family: Helvetica Neue;

  h2 {
    margin-top: 0;
    padding-left: 5px;
    padding-top: 5px;
    color: #0A4F2E;
    font-size: 30px;
  }

  p {
    margin: 0 auto;
  }
}

.main-link {
  color: #A06F31;
  text-decoration: none;

  &:hover {
    color: #F1C997;
    text-decoration: none;
  }
}
@import 'bootstrap-sprockets';
// @import 'bootstrap';
@import 'links';

