// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.greenits {
  color: $greenits-color;
  font-weight: bolder;
}

.reddits {
  color: $reddits-color;
  font-weight: bolder;
}

.small_username {
  color: $small-username-color;
  text-decoration: none;

  &:hover{
    color: $small-board-name-color;
    text-decoration: none;
  }
}

.small_board_name {
  color: $small-board-name-color;
  text-decoration: none;

  &:hover{
    color: $small-username-color;
    text-decoration: none;
  }
}
