// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  .link-body {
    color: $text-body-color;
    padding: 10px 10px 10px 10px;
    border: 1px solid $header-color;
    margin: 5px;
  }

  small {
    margin: 10px;
  }

  footer {
    margin-top: 10px;

   a {
     color: $footer-links-color;
     margin: 10px;

     &:hover {
      color: darken($footer-links-color, 10%);
      @include transition(all 0.8s ease-in-out);
     }
    }
  }
}

.comments {
  .comment-body {
    color: $text-body-color;
    margin: 5px;
  }
}

